// Theme
$primary-dark: #11146e;
$primary: #7e33e0;
$primary-light: #9f63b5;
$primary-light-200: #e0d3f5;
$success: #2bf5cc;
$accent: #fb2e86;
$red: #ce5257;
$white: #ffffff;
$dark: #333333;
$sub-text-color: #8a8fb9;

$border-edit: rgba(126, 51, 224, 0.24);
$border-hover: rgba(251, 46, 135, 0.28);
$border-error: rgba(206, 82, 87, 0.32);

$bg-default: rgba(0, 0, 0, 0.15);
$bg-text-edit: rgba(126, 51, 224, 0.15);
$bg-text-hover: rgba(251, 46, 135, 0.14);
$bg-text-error: rgba(206, 82, 87, 0.19);
